<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamlit App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">

</head>
<body class="bg-white">
<header class="bg-blue-500 text-white p-4 text-center">
    <h1 class="text-2xl font-bold">Streamlit App</h1>
</header>

<main class="p-8">
    {{ content }}
</main>

<footer class="bg-gray-900 text-gray-300 py-6 px-4 md:px-8 lg:px-16">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
        <p class="text-lg font-semibold mr-4 py-4 text-center">&copy;JCC Producciones<br>All rights reserved - <span
                id="date-display"></span>
        </p>
        <div class="mb-4 md:mb-0 flex items-center">
            <p class="text-lg font-semibold mr-4 uppercase">Síguenos</p>
            <div class="flex space-x-4">
                <a href="https://www.facebook.com/JulioCorbaz" target="_blank" aria-label="Síguenos en Facebook"
                   class="hover:text-blue-500 transition duration-300"><i
                        class="fab fa-facebook-f text-2xl"></i></a>
                <a href="https://x.com/julio_corbaz" target="_blank" aria-label="Síguenos en X"
                   class="hover:text-sky-500 transition duration-300"><i class="fab fa-x-twitter text-2xl"></i></a>
                <a href="https://www.instagram.com/juliocorbaz/" target="_blank"
                   aria-label="Síguenos en Instagram" class="hover:text-pink-500 transition duration-300"><i
                        class="fab fa-instagram text-2xl"></i></a>
                <a href="https://www.youtube.com/@juliocorbaz" target="_blank" aria-label="Síguenos en Youtube"
                   class="hover:text-red-500 transition duration-300"><i class="fab fa-youtube text-2xl"></i></a>
                <a href="https://www.tiktok.com/@chipy.mdp" target="_blank" aria-label="Síguenos en TikTok"
                   class="hover:text-teal-500 transition duration-300"><i class="fab fa-tiktok text-2xl"></i></a>
                <a href="https://www.linkedin.com/in/julio-corbaz/" target="_blank"
                   aria-label="Síguenos en LinkedIn" class="hover:text-blue-400 transition duration-300"><i
                        class="fab fa-linkedin-in text-2xl"></i></a>
            </div>
        </div>
    </div>
</footer>
<script>
    const dateDisplay = document.getElementById('date-display');

    const currentDate = new Date();
    const month = currentDate.getMonth() + 1;
    const year = currentDate.getFullYear();

    // Obtener la hora y los minutos
    let hours = currentDate.getHours();
    let minutes = currentDate.getMinutes();

    // Formatear la hora y los minutos para que siempre tengan dos dígitos
    hours = String(hours).padStart(2, '0');
    minutes = String(minutes).padStart(2, '0');

    // Formatear la fecha y la hora
    const formattedDateTime = `${month}/${year} ${hours}:${minutes}`;

    dateDisplay.textContent = formattedDateTime;
</script>
</body>
</html>